USE [master]
GO
/****** Object:  Database [STORAGEMS]    Script Date: 15/08/2021 4:28:55 CH ******/
CREATE DATABASE [STORAGEMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STORAGEMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STORAGEMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STORAGEMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STORAGEMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STORAGEMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STORAGEMS]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [varchar](10) NOT NULL,
	[TENHH] [nvarchar](100) NOT NULL,
	[DONGIA] [float] NULL,
	[DONVITINH] [nvarchar](10) NOT NULL,
	[MALHH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUUTRU](
	[MALT] [int] IDENTITY(1,1) NOT NULL,
	[MAKHO] [int] NOT NULL,
	[MAHH] [varchar](10) NOT NULL,
	[SOLUONG] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_LUU_TRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT INTO PHIEU( LOAI, TRANGTHAI, NGTHUCHIEN, NGHOANTHANH, MADT, MANV) VALUES( 1, 1, '20210610', '20210611', 2, 'khoalhd')
--SELECT * FROM PHIEU
--EXEC SP_SUACHITIETPHIEUNHAP 11, 31, 150
--SELECT * FROM LUUTRU WHERE MAKHO = 3 AND MAHH = 'ApexPRO'
--SELECT * FROM CHITIETPHIEU WHERE MAPHIEU = 11

--------------------------------------------------------
-- TAO VIEW --
--
-- THONG KE SO LUONG HANG LUU TRU
CREATE VIEW [dbo].[V_LUU_TRU] 
AS
	SELECT TENHH, SUM(SOLUONG) AS SOLUONGTON, HH.DONGIA, HH.MAHH, MALHH, MAKHO
	FROM LUUTRU LT
	INNER JOIN HANGHOA HH ON HH.MAHH = LT.MAHH 
	WHERE SOLUONG <> 0 
	GROUP BY HH.MAHH, TENHH, MAKHO, MALHH, DONGIA
GO
/****** Object:  Table [dbo].[CHITIETPHIEU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEU](
	[MACTP] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEU] [int] NOT NULL,
	[MALT] [int] NOT NULL,
	[SOLUONG] [float] NULL,
	[DONGIA] [float] NULL,
	[TRANGTHAI] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU](
	[MAPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[LOAI] [bit] NULL,
	[TRANGTHAI] [bit] NULL,
	[SOTIENDATHANHTOAN] [float] NULL,
	[TINHTRANGTT] [bit] NULL,
	[NGTHUCHIEN] [date] NOT NULL,
	[NGHOANTHANH] [date] NULL,
	[GHICHU] [nvarchar](255) NULL,
	[MADT] [int] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_HANG_NHAP]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SELECT * FROM V_LUU_TRU WHERE MAKHO LIKE '%3%' AND MALHH LIKE '%2%'

------------------------------------------------------------------------
-- THONG KE SO LUONG HANG NHAP THEO THANG VA NAM
CREATE VIEW [dbo].[V_HANG_NHAP]
AS
	SELECT TENHH, SUM(CTP.SOLUONG) AS SOLUONGNHAP, AVG(CTP.SOLUONG) AS SLNHAPTB,
		SUM(CTP.SOLUONG*CTP.DONGIA) AS TONGGIATRINHAP,AVG(CTP.DONGIA) AS GIANHAPTB,
		HH.MAHH, MALHH, MAKHO, MONTH(NGHOANTHANH) AS THANG, YEAR(NGHOANTHANH) AS NAM
	FROM PHIEU P
	INNER JOIN CHITIETPHIEU CTP ON CTP.MAPHIEU = P.MAPHIEU
	INNER JOIN LUUTRU LT ON CTP.MALT = LT.MALT
	INNER JOIN HANGHOA HH ON HH.MAHH = LT.MAHH
	WHERE P.LOAI = 1 AND P.TRANGTHAI = 1
	GROUP BY TENHH, HH.MAHH, MALHH, MAKHO, NGHOANTHANH, CTP.DONGIA
GO
/****** Object:  View [dbo].[V_HANG_XUAT]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------
-- THONG KE SO LUONG HANG NHAP THEO THANG VA NAM
CREATE VIEW [dbo].[V_HANG_XUAT]
AS
	SELECT TENHH, SUM(CTP.SOLUONG) AS SOLUONGXUAT, AVG(CTP.SOLUONG) AS SLXUATTB,
		SUM(CTP.SOLUONG*CTP.DONGIA) AS TONGGIATRIXUAT, AVG(CTP.DONGIA) AS GIAXUATTB,
		HH.MAHH, MALHH, MAKHO, MONTH(NGHOANTHANH) AS THANG, YEAR(NGHOANTHANH) AS NAM
	FROM PHIEU P
	INNER JOIN CHITIETPHIEU CTP ON CTP.MAPHIEU = P.MAPHIEU
	INNER JOIN LUUTRU LT ON CTP.MALT = LT.MALT
	INNER JOIN HANGHOA HH ON HH.MAHH = LT.MAHH
	WHERE P.LOAI = 0 AND P.TRANGTHAI = 1
	GROUP BY TENHH, HH.MAHH, MALHH, MAKHO, NGHOANTHANH, CTP.DONGIA
GO
/****** Object:  View [dbo].[V_NHAP_XUAT]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------
-- THONG KE XUAT VA NHAP
CREATE VIEW [dbo].[V_NHAP_XUAT]
AS
	SELECT THANG, 
		SUM(SOLUONGXUAT) AS TONGLUONGXUAT, 
		SUM(SOLUONGNHAP) AS TONGLUONGNHAP, NAM , MAKHO
	FROM (
		SELECT THANG, SOLUONGXUAT, 0 AS SOLUONGNHAP, MAKHO, NAM FROM V_HANG_XUAT
		UNION ALL 
		SELECT THANG, 0 AS SOLUONGXUAT, SOLUONGNHAP, MAKHO, NAM FROM V_HANG_NHAP
		) AS NHAP_XUAT
	GROUP BY THANG, NAM, MAKHO
GO
/****** Object:  View [dbo].[V_TONGHOP]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT * FROM V_NHAP_XUAT WHERE THANG = 5 AND NAM = 2021

------------------------------------------------------------------------
-- THONG KE TONG HOP
CREATE VIEW [dbo].[V_TONGHOP]
AS
	SELECT TENHH,
	SUM(TONGGIATRIXUAT-TONGGIATRINHAP) AS GIATRIXUATNHAP,
	AVG(GIAXUATTB-GIANHAPTB) AS GTCHENHLECHTB,
	SUM(SOLUONGNHAP-SOLUONGXUAT) AS CHENHLECHNHAPXUAT,
	SUM(TONGGIATRIXUAT) AS TONGGIATRIXUAT,
	SUM(TONGGIATRINHAP) AS TONGGIATRINHAP,
		THANG, NAM, MAKHO, MALHH
	FROM (
		SELECT TENHH, SOLUONGXUAT, TONGGIATRIXUAT, 0 AS SOLUONGNHAP, 0 AS TONGGIATRINHAP, GIAXUATTB, 0 AS GIANHAPTB, MAKHO, MALHH, THANG, NAM FROM V_HANG_XUAT
		UNION ALL
		SELECT TENHH, 0 AS SOLUONGXUAT, 0 AS TONGGIATRIXUAT, SOLUONGNHAP, TONGGIATRINHAP, 0 AS GIAXUATTB ,GIANHAPTB, MAKHO, MALHH, THANG, NAM FROM V_HANG_NHAP
			) AS NHAP_XUAT
	GROUP BY TENHH, THANG, NAM, MAKHO, MALHH
GO
/****** Object:  Table [dbo].[CHITIETKIEMKHO]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKIEMKHO](
	[MACTKK] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONGTON] [float] NOT NULL,
	[SOLUONGTHUC] [float] NOT NULL,
	[MAKK] [int] NOT NULL,
	[MALT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTKK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITAC]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITAC](
	[MADT] [int] IDENTITY(1,1) NOT NULL,
	[TENDT] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[SODT] [varchar](15) NOT NULL,
	[VAITRO] [bit] NULL,
	[MALDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [int] NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[MATK] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDOITAC]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDOITAC](
	[MALDT] [int] IDENTITY(1,1) NOT NULL,
	[TENLDT] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANGHOA]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANGHOA](
	[MALHH] [int] IDENTITY(1,1) NOT NULL,
	[TENLHH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[VAITRO] [bit] NOT NULL,
	[MATKHAU] [varchar](32) NOT NULL,
	[MUOI] [binary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [VAITRO], [MATKHAU], [MUOI]) VALUES (N'admin', N'admin', 1, N'1b896ef00d1e0fa0db62b94905dea5f9', 0x522DD93F0B2783773B0BE7C2F5913A50)
GO

/****** Object:  Table [dbo].[PHIEUKIEMKHO]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKIEMKHO](
	[MAKK] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[NGAYKIEM] [date] NOT NULL,
	[GHICHU] [nvarchar](225) NULL,
	[TRANGTHAI] [bit] NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO] ADD  DEFAULT ((0)) FOR [SOLUONGTON]
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO] ADD  DEFAULT ((0)) FOR [SOLUONGTHUC]
GO
ALTER TABLE [dbo].[CHITIETPHIEU] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETPHIEU] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[CHITIETPHIEU] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[DOITAC] ADD  DEFAULT ((1)) FOR [VAITRO]
GO
ALTER TABLE [dbo].[HANGHOA] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[LUUTRU] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [VAITRO]
GO
ALTER TABLE [dbo].[PHIEU] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[PHIEU] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEU] ADD  DEFAULT ((0)) FOR [SOTIENDATHANHTOAN]
GO
ALTER TABLE [dbo].[PHIEU] ADD  DEFAULT ((0)) FOR [TINHTRANGTT]
GO
ALTER TABLE [dbo].[PHIEUKIEMKHO] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[PHIEUKIEMKHO] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKIEMKHO_LUUTRU] FOREIGN KEY([MALT])
REFERENCES [dbo].[LUUTRU] ([MALT])
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO] CHECK CONSTRAINT [FK_CHITIETKIEMKHO_LUUTRU]
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKIEMKHO_PHIEUKIEMKHO] FOREIGN KEY([MAKK])
REFERENCES [dbo].[PHIEUKIEMKHO] ([MAKK])
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO] CHECK CONSTRAINT [FK_CHITIETKIEMKHO_PHIEUKIEMKHO]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEU_LUUTRU] FOREIGN KEY([MALT])
REFERENCES [dbo].[LUUTRU] ([MALT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [FK_CHITIETPHIEU_LUUTRU]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEU_PHIEU] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEU] ([MAPHIEU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [FK_CHITIETPHIEU_PHIEU]
GO
ALTER TABLE [dbo].[DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_LOAIDOITAC] FOREIGN KEY([MALDT])
REFERENCES [dbo].[LOAIDOITAC] ([MALDT])
GO
ALTER TABLE [dbo].[DOITAC] CHECK CONSTRAINT [FK_DOITAC_LOAIDOITAC]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_LOAIHANGHOA] FOREIGN KEY([MALHH])
REFERENCES [dbo].[LOAIHANGHOA] ([MALHH])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_LOAIHANGHOA]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_NHANVIEN] FOREIGN KEY([MATK])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_NHANVIEN]
GO
ALTER TABLE [dbo].[LUUTRU]  WITH CHECK ADD  CONSTRAINT [FK_LUUTRU_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[LUUTRU] CHECK CONSTRAINT [FK_LUUTRU_HANGHOA]
GO
ALTER TABLE [dbo].[LUUTRU]  WITH CHECK ADD  CONSTRAINT [FK_LUUTRU_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[LUUTRU] CHECK CONSTRAINT [FK_LUUTRU_KHO]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_DOITAC] FOREIGN KEY([MADT])
REFERENCES [dbo].[DOITAC] ([MADT])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_DOITAC]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUKIEMKHO]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKIEMKHO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUKIEMKHO] CHECK CONSTRAINT [FK_PHIEUKIEMKHO_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO]  WITH CHECK ADD  CONSTRAINT [CHK_CHITIETKIEMKHO] CHECK  (([SOLUONGTON]>=(0) AND [SOLUONGTHUC]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETKIEMKHO] CHECK CONSTRAINT [CHK_CHITIETKIEMKHO]
GO
ALTER TABLE [dbo].[CHITIETPHIEU]  WITH CHECK ADD  CONSTRAINT [CHK_CHITIETPHIEU] CHECK  (([SOLUONG]>=(0) AND [DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPHIEU] CHECK CONSTRAINT [CHK_CHITIETPHIEU]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [CHK_HANGHOA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [CHK_HANGHOA]
GO
ALTER TABLE [dbo].[LUUTRU]  WITH CHECK ADD CHECK  (([SOLUONG]>=(0)))
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [CHK_PHIEU] CHECK  (([NGHOANTHANH] IS NULL OR [NGHOANTHANH]>=[NGTHUCHIEN]))
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [CHK_PHIEU]
GO
/****** Object:  StoredProcedure [dbo].[SP_NHAPCHITIETPHIEUKIEMKHO]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- PHIEU KIEM KHO
--DROP PROC SP_NHAPCHITIETPHIEUKIEMKHO
CREATE PROC [dbo].[SP_NHAPCHITIETPHIEUKIEMKHO](@MAKK INT,
									   @MALT INT,
									   @SOLUONGTON FLOAT,
									   @SOLUONGTHUC FLOAT)
AS
	BEGIN
		BEGIN TRY
			BEGIN TRANSACTION;
				INSERT INTO CHITIETKIEMKHO VALUES (@SOLUONGTON, @SOLUONGTHUC, @MAKK, @MALT);
				UPDATE LUUTRU SET SOLUONG = @SOLUONGTHUC WHERE MALT = @MALT;
				IF @@TRANCOUNT > 0
					COMMIT;
			END TRY
			BEGIN CATCH
				IF @@TRANCOUNT > 0
					ROLLBACK;
			END CATCH;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUACHITIETPHIEUKIEMKHO]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT INTO PHIEU( LOAI, TRANGTHAI, NGTHUCHIEN, NGHOANTHANH, MADT, MANV) VALUES( 0, 1, '20210610', '20210611', 2, 'khoalhd')
--SELECT * FROM PHIEU
--EXEC SP_XOACHITIETPHIEUXUAT 12, 32
--SELECT * FROM LUUTRU WHERE MAKHO = 3 AND MAHH = 'ApexPRO'
--SELECT * FROM CHITIETPHIEU WHERE MAPHIEU = 12

--DROP PROC SP_SUACHITIETPHIEUKIEMKHO
--GO
CREATE PROC [dbo].[SP_SUACHITIETPHIEUKIEMKHO] (@MACTKK INT,
									   @SOLUONGTHUCMOI FLOAT)
AS
	BEGIN
		DECLARE @SOLUONGTHUCCU FLOAT, @MALT INT;
		SELECT @SOLUONGTHUCCU = SOLUONGTHUC, @MALT = MALT FROM CHITIETKIEMKHO WHERE MACTKK = @MACTKK
		BEGIN TRY
			BEGIN TRANSACTION;
				UPDATE LUUTRU SET SOLUONG = (SOLUONG + (@SOLUONGTHUCMOI-@SOLUONGTHUCCU)) WHERE MALT = @MALT;
				UPDATE CHITIETKIEMKHO SET SOLUONGTHUC = @SOLUONGTHUCMOI WHERE MACTKK = @MACTKK
				IF @@TRANCOUNT > 0
					COMMIT;
			END TRY
			BEGIN CATCH
				IF @@TRANCOUNT > 0
					ROLLBACK;
			END CATCH;
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_T10HHLUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 HANG HOA LUU TRU
CREATE PROC [dbo].[SP_T10HHLUUTRU] (	@MAKHO VARCHAR(15),
								@MALHH VARCHAR(15))
AS
	SELECT TOP 10 
		TENHH, SUM(SOLUONGTON) AS SOLUONGTON
	FROM V_LUU_TRU V
	WHERE MAKHO LIKE @MAKHO AND MALHH LIKE @MALHH
	GROUP BY TENHH
	ORDER BY SUM(SOLUONGTON) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10HHNHAP]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 HANG HOA NHAP

CREATE PROC [dbo].[SP_T10HHNHAP] (	@MAKHO VARCHAR(15),
							@MALHH VARCHAR(15),
							@THANG VARCHAR(2),
							@NAM INT)
AS
	SELECT TOP 10 
		TENHH, SUM(SOLUONGNHAP) AS SOLUONGNHAP
	FROM V_HANG_NHAP V
	WHERE MAKHO LIKE @MAKHO 
		AND MALHH LIKE @MALHH
		AND THANG LIKE @THANG
		AND NAM = @NAM
	GROUP BY TENHH
	ORDER BY SUM(SOLUONGNHAP) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10HHTH]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 HANG HOA GIA TRI XUAT NHAP CAO 

CREATE PROC [dbo].[SP_T10HHTH] (	@MAKHO VARCHAR(15),
							@MALHH VARCHAR(15),
							@THANG VARCHAR(2),
							@NAM INT)
AS
	SELECT TOP 10 
		TENHH, 
		SUM(GIATRIXUATNHAP) AS TONGGIATRIXUATNHAP,
		AVG(GTCHENHLECHTB) AS TONGGTCHENHLECHTB
	FROM V_TONGHOP V
	WHERE MAKHO LIKE @MAKHO 
		AND MALHH LIKE @MALHH
		AND THANG LIKE @THANG
		AND NAM = @NAM
	GROUP BY TENHH
	ORDER BY SUM(GIATRIXUATNHAP) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10HHXUAT]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 HANG HOA XUAT

CREATE PROC [dbo].[SP_T10HHXUAT] (	@MAKHO VARCHAR(15),
							@MALHH VARCHAR(15),
							@THANG VARCHAR(2),
							@NAM INT)
AS
	SELECT TOP 10 
		TENHH, SUM(SOLUONGXUAT) AS SOLUONGXUAT
	FROM V_HANG_XUAT V
	WHERE MAKHO LIKE @MAKHO 
		AND MALHH LIKE @MALHH
		AND THANG LIKE @THANG
		AND NAM = @NAM
	GROUP BY TENHH
	ORDER BY SUM(SOLUONGXUAT) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10LHHLUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------
-- TAO PROCEDURE
--
-- TOP 10 LOAI HANG HOA LUU TRU
--DROP PROC SP_SUACHITIETPHIEUKIEMKHO
CREATE PROC [dbo].[SP_T10LHHLUUTRU] (@MAKHO VARCHAR(15))
AS
	SELECT TOP 10 
		LHH.TENLHH, SUM(SOLUONGTON) AS SOLUONGTON
	FROM V_LUU_TRU V
	INNER JOIN LOAIHANGHOA LHH ON LHH.MALHH = V.MALHH
	WHERE MAKHO LIKE @MAKHO
	GROUP BY TENLHH
	ORDER BY SUM(SOLUONGTON) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10LHHNHAP]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 LOAI HANG HOA NHAP

CREATE PROC [dbo].[SP_T10LHHNHAP] (@MAKHO VARCHAR(15),
							@THANG VARCHAR(2),
							@NAM INT)
AS
	SELECT TOP 10 
		LHH.TENLHH, SUM(SOLUONGNHAP) AS SOLUONGNHAP
	FROM V_HANG_NHAP V
	INNER JOIN LOAIHANGHOA LHH ON LHH.MALHH = V.MALHH
	WHERE MAKHO LIKE @MAKHO
		AND THANG LIKE @THANG
		AND NAM = @NAM
	GROUP BY TENLHH
	ORDER BY SUM(SOLUONGNHAP) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10LHHTH]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 LOAI HANG HOA GIA TRI XUAT NHAP CAO 

CREATE PROC [dbo].[SP_T10LHHTH] (	@MAKHO VARCHAR(15),
							@THANG VARCHAR(2),
							@NAM INT)
AS
	SELECT TOP 10 
		LHH.TENLHH, 
		SUM(GIATRIXUATNHAP) AS TONGGIATRIXUATNHAP,
		AVG(GTCHENHLECHTB) AS TONGGTCHENHLECHTB
	FROM V_TONGHOP V
	INNER JOIN LOAIHANGHOA LHH ON LHH.MALHH = V.MALHH
	WHERE MAKHO LIKE @MAKHO
		AND THANG LIKE @THANG
		AND NAM = @NAM
	GROUP BY TENLHH
	ORDER BY SUM(GIATRIXUATNHAP) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_T10LHHXUAT]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TOP 10 LOAI HANG HOA XUAT

CREATE PROC [dbo].[SP_T10LHHXUAT] (@MAKHO VARCHAR(15),
							@THANG VARCHAR(2),
							@NAM INT)
AS
	SELECT TOP 10 
		LHH.TENLHH, SUM(SOLUONGXUAT) AS SOLUONGXUAT
	FROM V_HANG_XUAT V
	INNER JOIN LOAIHANGHOA LHH ON LHH.MALHH = V.MALHH
	WHERE MAKHO LIKE @MAKHO
		AND THANG LIKE @THANG
		AND NAM = @NAM
	GROUP BY TENLHH
	ORDER BY SUM(SOLUONGXUAT) DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHAPLUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------
-- TAO STORE PROCEDURE --
--
-- PHIEU NHAP/XUAT

-- THAY DOI LUU TRU
-- DROP PROC SP_THEM_NHAPLUUTRU
CREATE PROC [dbo].[SP_THEM_NHAPLUUTRU](	@MACTP INT)
AS 
	BEGIN
		DECLARE @MALT INT, @SOLUONG FLOAT, @TRANGTHAI BIT;
		SELECT @SOLUONG = SOLUONG, @TRANGTHAI = TRANGTHAI, @MALT = MALT FROM CHITIETPHIEU WHERE MACTP = @MACTP

		IF(@TRANGTHAI = 0)
			BEGIN
			BEGIN TRANSACTION			
				BEGIN TRY
					UPDATE LUUTRU SET SOLUONG = (SOLUONG + @SOLUONG) WHERE MALT = @MALT;
					UPDATE CHITIETPHIEU SET TRANGTHAI = 1 WHERE MACTP = @MACTP;
						IF @@TRANCOUNT > 0
							COMMIT;
				END TRY
				BEGIN CATCH
					IF @@TRANCOUNT > 0
						ROLLBACK;
				END CATCH
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_XUATLUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DROP PROC SP_THEM_XUATLUUTRU
CREATE PROC [dbo].[SP_THEM_XUATLUUTRU](	@MACTP INT)
AS 
	BEGIN
		DECLARE @MALT INT, @SOLUONG FLOAT, @TRANGTHAI BIT;
		SELECT @SOLUONG = SOLUONG, @MALT = MALT, @TRANGTHAI = TRANGTHAI FROM CHITIETPHIEU WHERE MACTP = @MACTP
		
		IF(@TRANGTHAI = 0)
			BEGIN
			BEGIN TRANSACTION
				BEGIN TRY
					UPDATE LUUTRU SET SOLUONG = (SOLUONG - @SOLUONG) WHERE MALT = @MALT;
					UPDATE CHITIETPHIEU SET TRANGTHAI = 1 WHERE MACTP = @MACTP;
					IF @@TRANCOUNT > 0
						COMMIT;
				END TRY
				BEGIN CATCH
					IF @@TRANCOUNT > 0
						ROLLBACK;
				END CATCH
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NHAPLUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- XOA THAY DOI LUU TRU
CREATE PROC [dbo].[SP_XOA_NHAPLUUTRU](@MACTP INT)
AS 
	BEGIN
		DECLARE @MALT INT, @SOLUONG FLOAT, @TRANGTHAI BIT;
		SELECT @SOLUONG = SOLUONG, @MALT = MALT, @TRANGTHAI = TRANGTHAI FROM CHITIETPHIEU WHERE MACTP = @MACTP
		IF(@TRANGTHAI = 1)
			BEGIN
			BEGIN TRANSACTION
				BEGIN TRY
					UPDATE LUUTRU SET SOLUONG = (SOLUONG - @SOLUONG) WHERE MALT = @MALT;
					UPDATE CHITIETPHIEU SET TRANGTHAI = 0 WHERE MACTP = @MACTP;
					IF @@TRANCOUNT > 0
						COMMIT;
				END TRY
				BEGIN CATCH
					IF @@TRANCOUNT > 0
						ROLLBACK;
				END CATCH
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_XUATLUUTRU]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_XUATLUUTRU](@MACTP INT)
AS 
	BEGIN
		DECLARE @MALT INT, @SOLUONG FLOAT, @TRANGTHAI BIT;
		SELECT @SOLUONG = SOLUONG, @MALT = MALT, @TRANGTHAI = TRANGTHAI FROM CHITIETPHIEU WHERE MACTP = @MACTP
		IF(@TRANGTHAI = 1)
			BEGIN
			BEGIN TRANSACTION
				BEGIN TRY
					UPDATE LUUTRU SET SOLUONG = (SOLUONG + @SOLUONG) WHERE MALT = @MALT;
					UPDATE CHITIETPHIEU SET TRANGTHAI = 0 WHERE MACTP = @MACTP;
					IF @@TRANCOUNT > 0
						COMMIT;
				END TRY
				BEGIN CATCH
					IF @@TRANCOUNT > 0
						ROLLBACK;
				END CATCH
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOACHITIETPHIEUKIEMKHO]    Script Date: 15/08/2021 4:28:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT INTO PHIEU( LOAI, TRANGTHAI, NGTHUCHIEN, NGHOANTHANH, MADT, MANV) VALUES( 1, 1, '20210610', '20210611', 2, 'khoalhd')
--SELECT * FROM PHIEU
--EXEC SP_NHAPCHITIETPHIEUNHAP 11, 3, 'ApexPRO', 100, 5000
--SELECT * FROM LUUTRU WHERE MAKHO = 3 AND MAHH = 'ApexPRO'
--SELECT * FROM CHITIETPHIEU WHERE MAPHIEU = 11

--DROP PROC SP_XOACHITIETPHIEUKIEMKHO
CREATE PROC [dbo].[SP_XOACHITIETPHIEUKIEMKHO] (@MACTKK INT)
AS
	BEGIN
		DECLARE @MALT INT, @SOLUONGTON FLOAT, @SOLUONGTHUC FLOAT, @SOLUONGLT FLOAT ,@SOLUONGMOI FLOAT
		SELECT @SOLUONGTON = SOLUONGTON, @SOLUONGTHUC = SOLUONGTHUC, @MALT = MALT FROM CHITIETKIEMKHO WHERE MACTKK = @MACTKK
		SELECT @SOLUONGLT = SOLUONG FROM LUUTRU WHERE MALT = @MALT;
		SET @SOLUONGMOI = @SOLUONGLT + @SOLUONGTON - @SOLUONGTHUC
		IF(@SOLUONGMOI<0) 
			BEGIN
				SET @SOLUONGMOI = 0
			END
		BEGIN TRY
			BEGIN TRANSACTION;
				UPDATE LUUTRU SET SOLUONG = @SOLUONGMOI WHERE MALT = @MALT;
				DELETE CHITIETKIEMKHO WHERE MACTKK = @MACTKK
				IF @@TRANCOUNT > 0
					COMMIT;
			END TRY
			BEGIN CATCH
				IF @@TRANCOUNT > 0
					ROLLBACK;
			END CATCH;
	END
GO
USE [master]
GO
